@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

.hero-gradient-text {
  background: linear-gradient(to right, #00ffff, #8a2be2, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  font-family: "Inter", sans-serif;
}

.cta-border {
  box-shadow: inset 0 0 0 2px #00ffff;
  transition: all 0.3s;
}

.cta-border:hover {
  box-shadow: none;
}
